@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color: rgb(247, 232, 241);
    --article-color:white;
    --text-title-color:black;
    --text2-color:rgb(231, 183, 0);
    --title-font-family: Suse;
    --text-font-family: Poppins;
    --title1-font-size:48px;
    --title2-font-size:32px;
    --text1-font-size:20px;
    --text2-font-size:16px;
}
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 233, 233);
}
main{
    width: 87vw;
    margin: 0 auto;
}
header{
  background-color: var(--article-color);
}
.mynav a{
    font-family: var(--text-font-family);
    font-weight: 500;
}
.link-base-item{
    display: flex;
    justify-content: space-between;
 }
 .link-item{
    font-family: var(--title-font-family);
 }
.news-article{
    background-color: #f5f6f6;
    padding: 25px 90px;
}
.title-news h4{
    font-family: var(--text-font-family);
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 30px;
}
.title-news h4:hover{
    font-weight: 700;
}
.news-article img{
    width: 100%;
    margin-bottom: 30px;
}
.left-content{
   width: 11%;
}
.left-content img{
    width: 50%;
    margin-bottom: 10px;
}
.left.content h4, h5{
    font-family: var(--text-font-family);
}
.center-content{
    width: 50%;
    margin: 0 130px 110px 85px;
}
.center-content h2{
    font-family: var(--title-font-family);
}
.center-content h3, p{
    font-family: var(--text-font-family);
    text-align: justify;
}
.center-content p{
    font-size: 18px;
    font-weight: 400;
}
.center-content h4{
    font-family: var(--text-font-family);
    font-size: 14px;
    font-weight: 300;
}
.center-content img{
    width: 100%;
}
.right-content{
    width: 27%;
}
.right-content h3{
    font-family: var(--title-font-family);
    font-weight: 400;
    text-transform: uppercase;
}
.right-content-text h3, h4, h5{
    font-family: var(--text-font-family);
}
.right-content-text h3{
    text-transform: none;
    font-weight: 500;
}
.right-content-text h4, h5{
    font-size: 14px;
}
.myimg{
    width: 50%;
}
.myimg2{
    width: 58%;
}
.related-articles{
    background-color: var(--bg-color);
    padding: 35px 95px 95px;
}
.article-item{
    width: 24%;
    background-color: var(--article-color);
    margin: 25px 0;
    padding: 5px;
 }
 .article-item img{
    width: 100%;
 }
 .news-cont{
    margin: 20px 20px 0px 20px;
 }
 .news-cont h3, h4, h5, h6{
    font-family: var(--title-font-family);
    font-weight: 600;
    text-align: left;
 }
 .news-cont h6{
    color: var(--text2-color);
    font-size: var(--text2-font-size);
    padding-bottom: 10px;
 }
 .news-cont h5{
    color: var(--text1-color);
    font-size: var(--text2-font-size);
    padding-top: 5px;
 }
 .news-cont h4{
    color: var(--text-title-color);
    font-size: var(--text1-font-size);
    padding: 0;
    padding-bottom: 20px;
 }
 .news-cont h3{
   color: var(--text-title-color);
    font-size: var(--title2-font-size);
 }
 .news-cont a{
   text-decoration: none;
   color: var(--text-title-color);
 }
 .login{
    background-color: var(--bg-color);
    padding: 70px 90px;
 }
 .login-content{
    background-color: var(--article-color);
    padding: 70px 80px;
 }
 .login-left h1, p{
    color: var(--text-title-color);
    font-family: var(--title-font-family);
    font-weight: 600;
 }
 .login-left{
    width: 50%;
 }
 .login-left h1{
    font-size: var(--title1-font-size);
    padding: 20px 0 40px;
 }
 .login-left p{
    font-size: var(--title2-font-size);
 }
 .login-right{
    width: 50%;
    padding: 15px 135px;
 }
 .myinput{
    padding: 1px 200px 1px 3px;
 }
 .login-right p{
    font-family: var(--text-font-family);
    font-size: 10px;
    font-weight: 400;
    text-align: justify;
    padding-top: 20px;
 }
 .myradio{
    background-color: var(--bg-color);
 }
 .mysign{
    width: 44%;
    background-color: rgb(224 247 226);
    font-family: var(--text-font-family);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid gray;
 }
 .mysign:hover{
    background-color: gray;
    color: white;
 }
 .login-message, .error-message{
    display: none; 
    font-family: var(--text-font-family);
    margin-top: 10px;
 }
 .error-message{
  color: red;
  margin: 0;
  padding-top: 5px;
  font-family: var(--text-font-family);
  font-size: 12px;
  font-weight: 400;
 }
 .login-message{
    color: green;
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 500;
 }
 footer{
    background-color: var(--bg-color);
    padding: 40px 90px;
 }



 @media(min-width:1000px) and
       (max-width:1400px){
    main{
        width: 100vw;
    }
    .news-article{
        padding: 20px 70px;
    }
    .left-content{
        width: 28%;
        margin: 20px auto 40px;
    }
    .center-content, .right-content{
        width: 100%;
    }
    .center-content{
        margin: 0 20px 50px 20px;
        padding-right: 20px;
    }
    .center-content p{
        font-size: 14px;
    }
    .center-content h4{
        font-size: 10px;
    }
    .right-content{
        width: 35%;
        padding: 50px 10px 0 0;
    }
    .myimg, .myimg2{
        width: 100%;
    }
    .right-content-text{
        padding-right: 15px;
        padding-bottom: 20px;
    }
    .related-articles{
        padding: 25px 70px;
    }
    .article-item{
        width: 24%;
    }
    .login-right, .myinput, .login-left{
        width: 100%;
        padding: 2px 25px;
        text-align: center;
    }
    .login-left h1{
        font-size: var(--title2-font-size);
    }
    .login-left p{
        font-size: var(--text2-font-size);
    }
    .mysign{
        width: 35%;
    }
}


 @media(min-width:600px) and
       (max-width:1000px){
    main{
        width: 100vw;
    }
    .link-base-item{
        display: block;
     }
    .news-article{
        padding: 20px 70px;
    }
    .left-content{
        width: 28%;
        margin: 20px auto 40px;
    }
    .center-content, .right-content{
        width: 100%;
    }
    .center-content{
        margin: 0 10px;
        padding-right: 20px;
    }
    .center-content p{
        font-size: 14px;
    }
    .center-content h4{
        font-size: 10px;
    }
    .right-content{
        padding: 50px 10px 0 0;
    }
    .myimg, .myimg2{
        width: 100%;
    }
    .right-content-text{
        padding-right: 15px;
        padding-bottom: 20px;
    }
    .related-articles{
        padding: 25px 70px;
    }
    .article-item{
        width: 100%;
    }
    .login, .login-right, .myinput, .login-left{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .login-content{
        padding: 20px;
    }
    .login-left h1{
        font-size: var(--title2-font-size);
    }
    .login-left p{
        font-size: var(--text2-font-size);
    }
    .mysign{
        width: 45%;
    }
 }



 @media(max-width:600px){
    main{
        width: 100vw;
    }
    .link-base-item{
        display: block;
     }
    .news-article{
        padding: 20px 10px;
    }
    .left-content{
        width: 28%;
        margin: 20px auto 40px;
    }
    .center-content, .right-content{
        width: 100%;
    }
    .center-content{
        margin: 0 10px;
        padding-right: 20px;
    }
    .center-content p{
        font-size: 14px;
    }
    .center-content h4{
        font-size: 10px;
    }
    .right-content{
        padding: 50px 10px 0 0;
    }
    .myimg, .myimg2{
        width: 100%;
        padding-bottom: 20px;
    }
    .right-content-text{
        padding-right: 15px;
    }
    .related-articles{
        padding: 25px 10px;
    }
    .article-item{
        width: 100%;
    }
    .login, .login-content{
        padding: 20px;
    }
    .login-right, .myinput, .login-left{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .login-left h1{
        font-size: var(--title2-font-size);
    }
    .login-left p{
        font-size: var(--text2-font-size);
    }
    footer{
        padding: 30px 40px;
    }
 }